a {
 
    margin-left: 25px;
   margin-right: 25px;
   color: blue;
   font-size: 26px;
   top: 142px;}

   .class1{
   left: 50;
}
h3{
color: lightblue;
font-size: 26px;}

p{
     color: blue;
     font-size: 26px
    
    }


.class1{margin-left: 15px;}
div{
height: 10px;
width: 0.5px;

}