p {
  display: inline-block;



}
section {
   display: inline-block;

}
article{margin-bottom:  50px;


}
a {
 margin-left: 25px;
margin-right: 25px;
color: blue;
font-size: 26px;
top: 142px;

}

.class1{
    display: inline-block;

margin-left: 15px;



}
div{margin-top: 40px;}